#FORM{
  color: red;
  background-color: blue;
  display: flex;
  justify-content: center;
  padding: 2%;
}
input{
  width: 15%  ;
}

.todo{
  display: flex;
  justify-content: center;
  padding: 3%;
  background-color: orange;
}
 .delBtn{



 }
.fa-trash-alt{
  color: blue;
}
.fa-twitter{
  color: green;
  font-size: 10em;
}
